body{
  background-color: #282727;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
  color: #f1f172;
}
 
a:hover{
  cursor: pointer;
  color: #eea658;
}

main{
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #d9d8d8;
}

button{
  background-color: #5d5959;
  border: none;
  border-radius: 4px;
  color: #d9d8d8;
  padding: 0.125rem 0.75rem;
}